<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.first_name %>,</p>
    <p>
      To reset your password for Yero, please click the following link: <br>
      <br>
      <%= link_to 'Click Here to Reset Password',password_reset_url(@user.password_reset_token, only_path: false)%>
      <br>
      <p>If you didn't request this password change then you can ignore this message &mdash; someone probably typed in your email address by mistake.
      </p>
      <p>
        Thanks! <br>
        Team Yero
      </p>      
    </p>
  </body>
</html>