<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Forgotten password, <%= @user.email %></h1>
    <p>
      Hello, you have notified us that you have forgotten your password.
      Please use the following link below to reset your password:.<br>
      <%= link_to 'Click Here to Reset Password',reset_password_url(@user.email)%>
    </p>
    <p>Thank you for your notice and have a great day!</p>
  </body>
</html>