<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>Hey <%= @user.first_name %>,</p>
		<p>This email is to notify you that the password for your Yero account has been changed.</p>
		<p>
			Thanks! <br>
			Team Yero
		</p>
	</body>
</html>




