<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @web_user.first_name %>,</p>
    <p>
      Your updated draft for venue - <%=@venue.name%> is approved now. <br>
      
      <p>
        Thanks! <br>
        Team Yero
      </p>      
    </p>
  </body>
</html>