<% body_class "about" %>
<% content_for :title , "About Yero" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>About</h2>
		</div>
	</div>
</header>

<section class="page-content">
	<div class="row">
		<div class="medium-8 medium-offset-1 columns about-content">

			<h3>Tonight’s Network</h3>
			<p>Yero is a location-based discovery network all about tonight. We believe context greatly increases the chances for making new friends—and there’s nothing better than tonight. We also believe that Snapchat and Instagram are the best tools for people who just met. Ask someone new what they're up to tonight, comment about a photo on their Instagram or send a selfie on Snapchat. We give you the context and opportunity to make new friends—the rest is up to you! </p>

			<p>Carpe Noctem. Seize the night.</p>

		</div>
	</div>
</section>