<% body_class "about" %>
<% content_for :title , "About Yero" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>About</h2>
		</div>
	</div>
</header>

<section class="page-content">
	<div class="row">
		<div class="medium-8 medium-offset-1 columns about-content">

			<h3>Tonight’s Network</h3>
			<p>Yero is all about tonight. We believe meeting new friends is awesome. We also believe that context can help remove awkwardness and break the ice. That's why we designed Yero. On the surface, Yero is another location-based social network—but it's much more than that. We create invisible networks around places where meeting someone new makes sense, like clubs, lounges, bars, festivals and colleges. We know that asking you to check-in is one step too many, so we made the experience seamless, simple and fun. Just walk around like you normally would—and when you walk into one of our invisible networks, Yero will notify you to join and see who else is inside. Go ahead and ask someone new what they're up to tonight, comment about a photo on their Instagram or take the conversation onto Snapchat. We give you the context and opportunity to make new friends—the rest is up to you! </p>

			<p>Carpe Noctem. Seize the night.</p>

		</div>
	</div>
</section>