<% body_class "about" %>
<% content_for :title , "About" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>About</h2>
		</div>
	</div>
</header>

<section class="page-content">
	<div class="row">
		<div class="medium-8 medium-offset-1 columns about-content">

			<h3>Tonight’s Network</h3>
			<p>Yero is a new location-based social discovery network designed for tonight. We believe that context is essential when making new friends – and tonight is a great place to start. Every night starting at 7 pm, anonymously send and receive Whispers with people nearby looking to go out, party or just meet new friends. When a Whisper is accepted, Yero will automatically exchange each user's Snapchat or WeChat ID – Instagram profiles are always visible. At 5 am the following morning, all users are cleared and the network goes offline so that a new night can begin.</p>

			<p>Carpe Noctem. Seize the night.</p>

		</div>
	</div>
</section>