<% body_class "about" %>
<% content_for :title , "About Yero" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>About</h2>
		</div>
	</div>
</header>

<section class="page-content">
	<div class="row">
		<div class="medium-8 medium-offset-1 columns about-content">

			<h3>Tonight’s Network</h3>
			<p>Yero is a new location-based discovery network all about tonight. We believe context greatly
			increases the chances for making new friends. That’s why, between 5pm and 5am, Yero lets you discover people around you and connect over Snapchat, Instagram and WeChat. Ask someone new what they're up to tonight, comment about a photo on their Instagram or send a selfie on Snapchat—simple actions like these can be all it takes to break the ice. We give you the context and opportunity to make new friends—but it's up to you to take action! </p>

			<p>Carpe Noctem. Seize the night.</p>

		</div>
	</div>
</section>