<% body_class "beta-signup" %>
<% content_for :title , "Beta Signup" %>
<!-- <header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Android</h2>
		</div>
	</div>
</header>
 -->
<section class="page-content android-content padding text-center">
	<div class="row">
		<div class="medium-8 medium-centered columns">

			<%= image_tag "shades.png", :class=>'shades-img' %>

			<p>YERO for iPhone 5+ is currently in private beta.</p>
		</div>

		<div class="medium-3 medium-centered columns">
			<hr>
		</div>

		<div class="medium-8 medium-centered columns">
			<p>Want to know when we launch in your city? <br>
				Submit your information below and we'll make sure to notify you!<br>
				(the more requests for your city the faster we'll come)
			</p>
		</div>
		<div class="medium-8 medium-centered columns email-form">
			<form action="">
			<div class="form">
				<div class="medium-5 columns phone-input">
					<input type="text" placeholder="Phone model">
				</div>
				<div class="medium-5 columns email-input">
					<input type="email" placeholder="Email">
				</div>
				<div class="medium-2 columns">
					<input type="submit" value="Submit" class="button small">
				</div>
			</div>
			<div class="medium-12 medium-centered columns">
				<label>
					<input type="checkbox">
					Yes, I'd like to participate in YERO beta testing.
				</label>
			</div>
			</form>
		</div>
	</div>
</section>