<% body_class "contact" %>
<% content_for :title , "Yero Contact" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Contact</h2>
		</div>
	</div>
</header>

<section class="page-content contact-content">
	<div class="row">
		<div class="medium-12 medium-offset-1 columns">

			<h3>We'd love to hear from you!</h3>

			<p>
				Have a suggestion? Need help with a bug? Got a question about the app? Bored? <br>
				Email us and we promise to get back to you as soon as possible. We are a small team, so please have patience.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 medium-offset-1 columns">
			<h5>Support</h5>
			<p>For anything technical and app related <br>
					<a href="mailto:support@yero.co">support@yero.co</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 medium-offset-1 columns">
			<h5>Feedback</h5>
			<p>Got an idea or want to offer your feedback? <br>
					<a href="mailto:hello@yero.co">hello@yero.co</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 medium-offset-1 columns">
			<h5>Investors</h5>
			<p>Like what you see? <br>
					<a href="mailto:matt@yero.co">matt@yero.co</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 medium-offset-1 columns">
			<h5>Press</h5>
			<p>Interested in writing an article on YERO?<br>
					<a href="mailto:media@yero.co">media@yero.co</a>
			</p>
		</div>
	</div>
</section>