<% body_class "faq" %>
<% content_for :title , "Yero FAQ" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Frequently Asked Questions</h2>
		</div>
	</div>
</header>

<section>
	<div class="row">
		<div class="medium-11 medium-offset-1 columns">
			<dl class="tabs" data-tab>
			  <dd class="active"><a href="#panel1">General</a></dd>
			  <dd><a href="#panel2">Colleges</a></dd>
			  <dd><a href="#panel3">Venues</a></dd>
			</dl>
		</div>

		<div class="tabs-content"></div>
		<div class="tabs-content">
			<div id="panel1" class="content active">
				<div class="medium-5 medium-offset-1 columns">
					<div class="faq-item">
						<strong class="faq-question">
							What's a Whisper?
						</strong>
						<p class="faq-answer">
							A chat request.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why do I need to enter my Snapchat or WeChat ID during sign up?
						</strong>
						<p class="faq-answer">
							When a user accepts a Whisper, Yero will give the option to pick which app to
							communicate over. We cannot do this without at least one ID from either app.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Is my Snapchat or WeChat ID public?
						</strong>
						<p class="faq-answer">
							No. Only once a Whisper is accepted will the IDs be exchanged.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why are we limited to Snapchat or WeChat?
						</strong>
						<p class="faq-answer">
							We believe that sending newly introduced people into Snapchat or WeChat
							greatly increases the chances of creating a lasting friendship. Both Snapchat and
							WeChat offer a superior user experience than basic text chatting.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why don’t you support WhatsApp?
						</strong>
						<p class="faq-answer">
							User security is paramount. We will not support chatting apps that do not have
							usernames or IDs.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							What about other chatting apps that have usernames - like Line or Kik?
						</strong>
						<p class="faq-answer">
							We are evaluating other chatting apps to support. If you'd like to suggest an app
							that you think would fit well, please email us at <a href="mailto:hello@yero.co">hello@yero.co</a> with the subject
							line “Feedback.”
						</p>
					</div>
				</div>
			</div>

			<div id="panel2" class="content active">
				<div class="medium-5 medium-offset-1 columns">
					<div class="faq-item">
						<strong class="faq-question">
							Which colleges do you currently support?
						</strong>
						<p class="faq-answer">
							Below is a list of active college networks:
							<br>
							Canada: SFU, UBC, UofT, York, UdeM, AU, Ryerson, UQAM, UofO, Concordia, UofA, and UW.
							<br>
							US.: Harvard, Dartmouth, Cornell, Brown, Columbia, Duke, Princeton, Stanford, UPenn, Yale
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How can I get Yero to launch at my college?
						</strong>
						<p class="faq-answer">
							We're launching at colleges across North America every week. Share the app to get us to come faster!
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Can anyone see that I'm on campus?
						</strong>
						<p class="faq-answer">
							No. Each college has its own private network that only users on your campus can access.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Can anyone find my location on campus?
						</strong>
						<p class="faq-answer">
							No. Users located on the same campus will be shown "Same Campus" without any distance indicator.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How do I apply to become a campus rep?
						</strong>
						<p class="faq-answer">
							Visit tbd
						</p>
					</div>
				</div>
			</div>

			<div id="panel3" class="content">
				<div class="medium-5 medium-offset-1 columns">
					<div class="faq-item">
						<strong class="faq-question">
							Why can't I see any venues?
						</strong>
						<p class="faq-answer">
							Yero is launching city-by-city and currently only live in Vancouver, Canada. We
							will expand to cities with the most demand as fast as possible.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How does someone get an Out Tonight or Same Venue badge?
						</strong>
						<p class="faq-answer">
							Out Tonight badges are automatically given to users who enter a partnering
							venue with Bluetooth enabled. Same Venue badges appear when both you
							and the selected user are within the same club, lounge or festival with
							Bluetooth enabled. Keep in mind that the nightlife venue must first partner
							with Yero to support this feature.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Do we connect with other Yero users directly via Bluetooth?
						</strong>
						<p class="faq-answer">
							No. We have transmitters installed inside our partner venues.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How long does an Out Tonight or Same Venue badge last for?
						</strong>
						<p class="faq-answer">
							Out Tonight badges last until 5 am local time. Same Venue badges last until
							either you or the selected user exit the venue
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why do I need to enable Bluetooth to receive an Out Tonight or Same Venue badge?
						</strong>
						<p class="faq-answer">
							We use Bluetooth to verify a user's presence inside a club, lounge or festival.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Do I need to keep Bluetooth on to keep the badge?
						</strong>
						<p class="faq-answer">
							No. However, you need Bluetooth enabled to connect to a Venue Network.
						</p>
					</div>
				</div>
				<div class="columns medium-5">
					<div class="faq-item">
						<strong class="faq-question">
							What exactly is a Venue Network?
						</strong>
						<p class="faq-answer">
							A venue-specific network designed to cover a club, lounge or festival. With
							Bluetooth enabled, you can see other users inside the same venue and also
							participate in venue-based activities.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							What do you mean by "venue-based activities?"
						</strong>
						<p class="faq-answer">
							We empower nightlife venues with the ability to conduct real-time drink
							lotteries, greeting messages, wait times and table availability when applicable.
							Have an awesome idea for a venue-based acitivty? Send email us at
							hello@yero.co with the subject line “Venue Network Idea”
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							So people in the same venue can see me if I connect to a Venue
							Network?
						</strong>
						<p class="faq-answer">
							Yes. This is no different than a real-world scenario. At least now you have an
							alternative to physically approaching someone!
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Will leaving Bluetooth on impact my battery?
						</strong>
						<p class="faq-answer">
							No. We use the latest advancements in Bluetooth, called Bluetooth Low
							Energy, simply because of its accuracy and low battery drain.
						</p>
					</div>
				</div>
			</div><!-- end panel 2 -->

			<!-- <div class="faq-item">
				<strong class="faq-question">
					What is a Ypoint and what is it for?
				</strong>
				<p class="faq-answer">
					If you are not connected to a City Network, Whispers cost YERO points
					(Ypoints). Half of the Ypoints used to send a disconnected Whisper go to
					the receiving user. As long as you connect to a venue, Whispers have no
					cost for 12 hours.
				</p>
			</div> -->
		</div>
	</div>
</section>

<div class="download text-center">
	<div class="row">
		<div class="medium-4 medium-centered columns">
			<a href="beta-signup">
				<%= image_tag "app-store.svg" %>
			</a>
		</div>
	</div>
</div>