<% body_class "faq" %>
<% content_for :title , "Yero FAQ" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Frequently Asked Questions</h2>
		</div>
	</div>
</header>

<section>
	<div class="row">
		<div class="medium-11 medium-offset-1 columns" id="faq-space">
			<dl class="tabs" data-tab>
			  <dd class="active"><a href="#panel1">General</a></dd>
			  <dd><a href="#panel2">Colleges</a></dd>
			  <dd><a href="#panel3">Venues</a></dd>
			</dl>
		</div>

		<div class="tabs-content" id="tabs-content">
			<div id="panel1" class="content active">
				<div class="medium-5 medium-offset-1 columns">
					<div class="faq-item">
						<strong class="faq-question">
							What's the difference between connecting and joining a network?
						</strong>
						<p class="faq-answer">
							 Connecting to a network does not mean you are discoverable. You must join the network to become discoverable. Think of joining a network as going online. 
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why does joining a network last until 5 AM?
						</strong>
						<p class="faq-answer">
							There may be some nights where you don't want people to discover you&mdash;we get that. When joining a network, you make yourself discoverable for just tonight.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							What's a Whisper?
						</strong>
						<p class="faq-answer">
							A request to chat over Snapchat or WeChat.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why do I need to enter my Snapchat or WeChat ID during sign up?
						</strong>
						<p class="faq-answer">
							When a Whisper is accepted, Yero exchanges each user's Snapchat or WeChat ID.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Can anyone see my Snapchat or WeChat ID?
						</strong>
						<p class="faq-answer">
							No. Only your Friends can see your Snapchat or WeChat ID.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How do I add someone to my Friend's list?
						</strong>
						<p class="faq-answer">
							Whenever someone accepts a Whisper, both the sender and receiver become Friends. 
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why are we limited to Snapchat or WeChat?
						</strong>
						<p class="faq-answer">
							We believe that Snapchat and WeChat are the best apps for people who have just met.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why don’t you support WhatsApp?
						</strong>
						<p class="faq-answer">
							Besides the reason above, WhatsApp does not support user IDs.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why does everyone automatically disconnect at 5 AM?
						</strong>
						<p class="faq-answer">
							Yero is designed for tonight. By disconnecting everyone at 5 AM, we keep the network fresh and exclusive to tonight.
						</p>
					</div>
				</div>
			</div>

			<div id="panel2" class="content">
				<div class="medium-5 medium-offset-1 columns">
					<div class="faq-item">
						<strong class="faq-question">
							Which colleges currently have active college networks?
						</strong>
						<p class="faq-answer">
							At this time, Yero is currently undergoing beta testing at UBC, SFU and BCIT in Vancouver, Canada.
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How can I get Yero to launch at my college?
						</strong>
						<p class="faq-answer">
							We plan to launch at new colleges across North America every month. Share the app with your friends to get us to come faster!
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How do I join a college network?
						</strong>
						<p class="faq-answer">
							Just walk onto your campus with Wi-Fi enabled and tap 'Join' in the app.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why does Wi-Fi need to be enabled?
						</strong>
						<p class="faq-answer">
							We use Wi-Fi, GPS and cellular data to verify a user's presence on campus.  
						</p>
					</div>	
					<div class="faq-item">
						<strong class="faq-question">
							Can anyone see that I'm on campus?
						</strong>
						<p class="faq-answer">
							No. Each college has its own private network that only users currently on your campus can access.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Can anyone find my location on campus?
						</strong>
						<p class="faq-answer">
							No. Users located on the same campus will be shown 'on same campus' without any distance indicator.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How are 'same campus' badges handed out?
						</strong>
						<p class="faq-answer">
							Same campus badges are automatically handed out to any user who joins a college network. A same campus badge will appear next to someone's avatar when both you and that user have joined the same college network.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How do I become a campus rep?
						</strong>
						<p class="faq-answer">
							We're looking for campus reps at UBC, SFU and BCIT. As a campus rep, you'll receive perks to nightlife events, free swag and recommendation letter. If you're a student at one of these colleges and you think you'd be a great fit for our internship program, please reach out to us at <a href="mailto:support@yero.co">hello@yero.co</a> with the subject line "Campus Rep." Please include your name, major, what year you're in and why you're the right person.
						</p>
					</div>
				</div>
			</div>
			<div id="panel3" class="content">
				<div class="medium-5 medium-offset-1 columns">
					<div class="faq-item">
						<strong class="faq-question">
							Why can't I see any venues?
						</strong>
						<p class="faq-answer">
							You can use Yero from anywhere, but our venue networks are launching city-by-city.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							What cities has Yero launched in?
						</strong>
						<p class="faq-answer">
							Yero is currently undergoing beta testing in Vancouver, Canada.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How can I get Yero to launch in my city?
						</strong>
						<p class="faq-answer">
							We are trying our best to launch in major cities where we are popular. The best way to get us to come to your city is to share the app with your friends.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Yero launched in my city, but I can't find a specific venue. Why?
						</strong>
						<p class="faq-answer">
							Either the venue you're looking for is not within 60 km from your current location or the venue does not meet our requirements. If you believe we have overlooked a venue, please contact us at <a href="mailto:support@yero.co">support@yero.co</a> with the subject line "Missing Venue."
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							What exactly is a venue network?
						</strong>
						<p class="faq-answer">
							A private network designed to surround a specific club, lounge or festival. Upon arrival, you'll connect to the venue's network if the venue is listed under the Venues tab. Just walk inside with Wi-Fi enabled.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How do I join a venue network?
						</strong>
						<p class="faq-answer">
							Just walk into the venue with Wi-Fi enabled and tap 'Join' in the app.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why do I need Wi-Fi enabled?
						</strong>
						<p class="faq-answer">
							We use a combination of Wi-Fi, GPS and cellular data to verify a user's presence inside a venue.  
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Do I need to connect to a certain Wi-Fi network?
						</strong>
						<p class="faq-answer">
							No.  
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Can other people see which venue I'm inside?
						</strong>
						<p class="faq-answer">
							No. Only people in the same venue can see which venue you are inside. People outside the venue network cannot see which venue you're in&mdash;they only see that you are in 'another venue.'
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							So people in the same venue can see me if I join a venue network?
						</strong>
						<p class="faq-answer">
							Yes. This is no different than a real-world scenario. At least now you have an alternative to physically approaching someone.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How does someone get a 'same venue' or 'another venue' badge?
						</strong>
						<p class="faq-answer">
							Both badges are automatically handed out to any user who joins a venue network. Same venue badges appear when both you and the other user are inside the same club, lounge or festival.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How long does a 'same venue' or 'another venue' badge last for?
						</strong>
						<p class="faq-answer">
							Both badges last until you exit the venue network or when Yero disconnects all users at 5 am (whichever comes first).
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Do I need to keep Wi-Fi on to keep the badge?
						</strong>
						<p class="faq-answer">
							No. However, there's a chance that we won't be able to verify your precise location anymore (our satellites work long hours).
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="download text-center">
	<div class="row">
		<div class="medium-4 medium-centered columns">
			<a href="beta-signup">
				<%= image_tag "app-store.svg" %>
			</a>
		</div>
	</div>
</div>