<% body_class "faq" %>
<% content_for :title , "Yero FAQ" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Frequently Asked Questions</h2>
		</div>
	</div>
</header>

<section>
	<div class="row">
		<div class="medium-11 medium-offset-1 columns" id="faq-space">
			<dl class="tabs show-for-medium-up" data-tab>
			  <dd class="active"><a href="#panel1">General</a></dd>
			  <dd><a href="#panel2">College Networks</a></dd>
			  <dd><a href="#panel3">Venue Networks</a></dd>
			</dl>

			<dl class="tabs show-for-small-only" data-tab>
			  <dd class="active"><a href="#panel1" class="mobile-tab">General</a></dd>
			  <dd><a href="#panel2" class="mobile-tab">College Networks</a></dd>
			  <dd><a href="#panel3" class="mobile-tab">Venue Networks</a></dd>
			</dl>
		</div>

		<div class="tabs-content" id="tabs-content">
			<div id="panel1" class="content active">
				<div class="medium-5 medium-offset-1 columns show-for-small-only">
					<div class="faq-item">
						<strong class="faq-question">
							Do I need to tap Join each time I enter a network?
						</strong>
						<p class="faq-answer">
							 No. You only have to tap Join once per night. 
						</p>
					</div>
						<div class="faq-item">
						<strong class="faq-question">
							Why does joining a network only last until 5AM?
						</strong>
						<p class="faq-answer">
							There may be some nights where you don't want people to discover you. When you tap Join, you're discoverable for just tonight.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							What's the difference between entering a network and joining a network?
						</strong>
						<p class="faq-answer">
							 Entering a network means you're inside the network, but you haven't joined yet. Joining the network makes you discoverable by others in the same venue and around your city. Think of joining a network as going online. 
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							What's a Whisper?
						</strong>
						<p class="faq-answer">
							A request to chat over Snapchat, Line or WeChat.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why do I need to enter my Snapchat, Line or WeChat ID during sign up?
						</strong>
						<p class="faq-answer">
							Yero exchanges your preferred chat ID with friends you connect with. 
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Can everyone see my Snapchat, Line or WeChat ID?
						</strong>
						<p class="faq-answer">
							No. Only your Friends can see your chat IDs.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How do I add someone as my Friend?
						</strong>
						<p class="faq-answer">
							Start by sending a Whisper. If the person you sent the Whisper to decides to connect, you become friends.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why are we limited to Snapchat, Line and WeChat?
						</strong>
						<p class="faq-answer">
							We believe that these are the best apps to communicate with someone you just met.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why don’t you support WhatsApp?
						</strong>
						<p class="faq-answer">
							WhatsApp does not support user IDs.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why does everyone automatically disconnect at 5AM?
						</strong>
						<p class="faq-answer">
							The network is designed for tonight. By disconnecting everyone at 5AM, we keep each night fresh with new faces.
						</p>
					</div>
				</div>
				<div class="medium-10 medium-offset-1 columns show-for-medium-up">
					<div style="width: 45%; float:left">
						<div class="faq-item">
							<strong class="faq-question">
								Do I need to tap Join each time I enter a network?
							</strong>
							<p class="faq-answer">
								 No. You only have to tap Join once per night. 
							</p>
						</div>
							<div class="faq-item">
							<strong class="faq-question">
								Why does joining a network only last until 5AM?
							</strong>
							<p class="faq-answer">
								There may be some nights where you don't want people to discover you. When you tap Join, you're discoverable for just tonight.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								What's the difference between entering to a network and joining a network?
							</strong>
							<p class="faq-answer">
								 Entering a network means you're inside the network, but you haven't joined yet. Joining the network makes you discoverable by others in the same venue and around your city. Think of joining a network as going online. 
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								What's a Whisper?
							</strong>
							<p class="faq-answer">
								A request to connect over Snapchat, Line or WeChat.
							</p>
						</div>
					</div>
					<div style="width: 45%; float:right">
						<div class="faq-item">
							<strong class="faq-question">
								Why do I need to enter my Snapchat, Line or WeChat ID during sign up?
							</strong>
							<p class="faq-answer">
								Yero exchanges your preferred chat ID with friends you connect with. 
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								Can everyone see my Snapchat, Line or WeChat ID?
							</strong>
							<p class="faq-answer">
								No. Only your Friends can see your chat IDs.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								How do I add someone as my Friend?
							</strong>
							<p class="faq-answer">
								Start by sending a Whisper. If the person you sent the Whisper to decides to connect, you become friends.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								Why are we limited to Snapchat, Line and WeChat?
							</strong>
							<p class="faq-answer">
								We believe that these are the best apps to communicate with someone you just met.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								Why don’t you support WhatsApp?
							</strong>
							<p class="faq-answer">
								WhatsApp does not support user IDs.
							</p>
						</div>
					</div>
				</div>
			</div>
	
			<div id="panel2" class="content">
				<div class="medium-5 medium-offset-1 columns show-for-small-only">
					<div class="faq-item">
						<strong class="faq-question">
							Which colleges currently have an active college network?
						</strong>
						<p class="faq-answer">
							At this time, Yero is active at SFU and UBC in Vancouver, Canada. 
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How can I get Yero to create a network at my college?
						</strong>
						<p class="faq-answer">
							We plan to create new college networks across North America every few weeks. Share the app with your friends to get us to come faster!
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How do I join a college network?
						</strong>
						<p class="faq-answer">
							Just walk onto your campus with Wi-Fi enabled and tap Join.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How long do I join the campus network for?
						</strong>
						<p class="faq-answer">
							Each time you Join a network, whether it's a venue or a campus, lasts until 5AM the next day. 
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why does Wi-Fi need to be enabled?
						</strong>
						<p class="faq-answer">
							We use Wi-Fi, GPS and cellular data to verify a user's presence on campus.  
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Do I need to connect to a certain Wi-Fi network?
						</strong>
						<p class="faq-answer">
							No.  
						</p>
					</div>	
					<div class="faq-item">
						<strong class="faq-question">
							Can everyone see that I'm on campus?
						</strong>
						<p class="faq-answer">
							No. Each college has its own private network that only users on your campus can access.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Can anyone find my location on campus?
						</strong>
						<p class="faq-answer">
							No. Users located on the same campus will be shown 'on same campus' without any distance indicator.
						</p>
					</div>
				</div>

				<div class="medium-10 medium-offset-1 columns show-for-medium-up">
					<div style="width: 45%; float:left">
						<div class="faq-item">
							<strong class="faq-question">
								Which colleges currently have an active college network?
							</strong>
							<p class="faq-answer">
								At this time, Yero is active at SFU and UBC in Vancouver, Canada. 
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								How can I get Yero to create a network at my college?
							</strong>
							<p class="faq-answer">
								We plan to create new college networks across North America every few weeks. Share the app with your friends to get us to come faster!
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								How do I join a college network?
							</strong>
							<p class="faq-answer">
								Just walk onto your campus with Wi-Fi enabled and tap Join.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								How long do I join the campus network for?
							</strong>
							<p class="faq-answer">
								Each time you Join a network, whether it's a venue or a campus, lasts until 5AM the next day. 
							</p>
						</div>
					</div>
					<div style="width: 45%; float:right">
						<div class="faq-item">
							<strong class="faq-question">
								Why does Wi-Fi need to be enabled?
							</strong>
							<p class="faq-answer">
								We use Wi-Fi, GPS and cellular data to verify a user's presence on campus.  
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								Do I need to connect to a certain Wi-Fi network?
							</strong>
							<p class="faq-answer">
								No.  
							</p>
						</div>	
						<div class="faq-item">
							<strong class="faq-question">
								Can everyone see that I'm on campus?
							</strong>
							<p class="faq-answer">
								No. Each college has its own private network that only users on your campus can access.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								Can anyone find my location on campus?
							</strong>
							<p class="faq-answer">
								No. Users located on the same campus will be shown 'on same campus' without any distance indicator.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div id="panel3" class="content">
				<div class="medium-5 medium-offset-1 columns show-for-small-only">
					<div class="faq-item">
						<strong class="faq-question">
							Why can't I see any venues from my city?
						</strong>
						<p class="faq-answer">
							You can use Yero from anywhere, but our venue networks are launching city-by-city.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Which cities have venue networks?
						</strong>
						<p class="faq-answer">
							Yero currently has active venue networks in Vancouver, Canada.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How can I get Yero to launch in my city?
						</strong>
						<p class="faq-answer">
							We are trying our best to launch in major North American cities where we are popular. The best way to get us to come to your city is to share the app with your friends.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							What exactly is a venue network?
						</strong>
						<p class="faq-answer">
							A private network designed to surround a specific club, lounge or festival. Upon arrival, you'll enter the venue's network just by walking inside.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							How do I Join a venue network?
						</strong>
						<p class="faq-answer">
							Tap Join in the app. You only have to Join once per night.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Why do I need Wi-Fi enabled?
						</strong>
						<p class="faq-answer">
							We use a combination of Wi-Fi, GPS and cellular data to verify a user's presence inside a venue.  
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Do I need to connect to a certain Wi-Fi network?
						</strong>
						<p class="faq-answer">
							No.  
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							Can everyone see which venue I'm inside?
						</strong>
						<p class="faq-answer">
							No. Only people in the same venue will know which venue you're inside. People outside the venue network cannot see which venue you're in&mdash;they only see that you are in 'another venue'.
						</p>
					</div>
					<div class="faq-item">
						<strong class="faq-question">
							So people in the same venue can see me if I join a venue network?
						</strong>
						<p class="faq-answer">
							Yes. This is no different than a real-world scenario.
						</p>
					</div>
				</div>
				<div class="medium-10 medium-offset-1 columns show-for-medium-up">
					<div style="width: 45%; float:left">
						<div class="faq-item">
							<strong class="faq-question">
								Why can't I see any venues from my city?
							</strong>
							<p class="faq-answer">
								You can use Yero from anywhere, but our venue networks are launching city-by-city.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								Which cities have venue networks?
							</strong>
							<p class="faq-answer">
								Yero currently has active venue networks in Vancouver, Canada.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								How can I get Yero to launch in my city?
							</strong>
							<p class="faq-answer">
								We are trying our best to launch in major North American cities where we are popular. The best way to get us to come to your city is to share the app with your friends.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								What exactly is a venue network?
							</strong>
							<p class="faq-answer">
								A private network designed to surround a specific club, lounge or festival. Upon arrival, you'll enter the venue's network just by walking inside.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								How do I Join a venue network?
							</strong>
							<p class="faq-answer">
								Tap Join in the app. You only have to Join once per night.
							</p>
						</div>
					</div>
					<div style="width: 45%; float:right">
						<div class="faq-item">
							<strong class="faq-question">
								Why do I need Wi-Fi enabled?
							</strong>
							<p class="faq-answer">
								We use a combination of Wi-Fi, GPS and cellular data to verify a user's presence inside a venue.  
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								Do I need to connect to a certain Wi-Fi network?
							</strong>
							<p class="faq-answer">
								No.  
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								Can everyone see which venue I'm inside?
							</strong>
							<p class="faq-answer">
								No. Only people in the same venue will know which venue you're inside. People outside the venue network cannot see which venue you're in&mdash;they only see that you are in 'another venue'.
							</p>
						</div>
						<div class="faq-item">
							<strong class="faq-question">
								So people in the same venue can see me if I join a venue network?
							</strong>
							<p class="faq-answer">
								Yes. This is no different than a real-world scenario.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<br><br><br><br><br><br><br>