<% body_class "faq" %>
<% content_for :title , "FAQ" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Frequently Asked Questions</h2>
		</div>
	</div>
</header>

<section>
	<div class="row">
		<div class="medium-5 medium-offset-1 columns">
			<div class="faq-item">
				<strong class="faq-question">
					Is the app free?
				</strong>
				<p class="faq-answer">
					Yes.
				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					What do I need to use this app?
				</strong>
				<p class="faq-answer">
					An iPhone 5+ with a data connection. Bluetooth must be enabled
					to connect to a Venue Network and make your profile visible.
				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					Why do I need Bluetooth enabled?
				</strong>
				<p class="faq-answer">
					We use the latest advancements in Bluetooth Low Energy technology
					to detect when YERO users enter the proximity of a venue.
				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					Is there any Bluetooth connection to other users?
				</strong>
				<p class="faq-answer">
					No. YERO users <em>never</em> connect with each other via Bluetooth. Instead,
					users connect to a venue-specific transmitter that has been installed.
				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					Will Bluetooth impact my phone's battery?
				</strong>
				<p class="faq-answer">
					No. Bluetooth Low Energy is the industry standard for device
					connectivity simply because of its negligible battery drain.
				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					Will people be able to find out which venue I'm in?
				</strong>
				<p class="faq-answer">
					Never. Only people in your current venue will know that you're also in
					the same venue (which is the same as a real-world scenario)
.				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					Why does the app use GPS?
				</strong>
				<p class="faq-answer">
					We sort venues and people by the distance around you - GPS is
					necessary to accomplish this.
				</p>
			</div>
		</div>

		<div class="medium-5 left columns">
			<div class="faq-item">
				<strong class="faq-question">
					Why is there a City Network and a Venue Network?
				</strong>
				<p class="faq-answer">
					Once you leave a Venue Network, you're still out tonight. We wanted to
					keep users on the network even after they exit a venue - the City
					Network solves this.
				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					What does the Venue Network do?
				</strong>
				<p class="faq-answer">
					The Venue Network does 4 things:
					<ol>
						<li>Greets users with a message containing venue-specific information</li>
						<li>Rearranges users inside the venue to the top of the People tab.</li>
						<li>Makes your profile visible until 8 am.</li>
					</ol>
				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					What does the City Network do?
				</strong>
				<p class="faq-answer">
					The City Network displays everyone inside a night club, lounge or festival
					right now. You can see who's online &ndash; but nobody can see you until you
					connect to a Venue Network.
				</p>
			</div>
			<div class="faq-item">
				<strong class="faq-question">
					What is a Whisper?
				</strong>
				<p class="faq-answer">
					An anonymous chat request that reveals your first name and age.
				</p>
			</div>
			<!-- <div class="faq-item">
				<strong class="faq-question">
					What is a Ypoint and what is it for?
				</strong>
				<p class="faq-answer">
					If you are not connected to a City Network, Whispers cost YERO points
					(Ypoints). Half of the Ypoints used to send a disconnected Whisper go to
					the receiving user. As long as you connect to a venue, Whispers have no
					cost for 12 hours.
				</p>
			</div> -->
		</div>
	</div>
</section>

<div class="download text-center">
	<div class="row">
		<div class="medium-4 medium-centered columns">
			<a href="">
				<%= image_tag "appstore.png" %>
			</a>
		</div>
	</div>
</div>