<% body_class "for-venues" %>
<% content_for :title , "For Venues" %>
<!-- <header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>For Venues</h2>
		</div>
	</div>
</header> -->
<div class="venues-hero medium-text-right">
	<div class="row">
		<div class="medium-6 columns details">
			<h3>Cheers to Technology</h3>
			<p>
				YERO takes your bar out of the dark ages with new, powerful technology<br>
				that delivers an enriched nightlife experience to both you and your guests.<br>
				<em>&ndash; for free.</em>
			</p>
			<a href="" class="button button-wide button-arr radius">Get in touch</a>
		</div>
		<div class="medium-6 columns">
			<%= image_tag "glasses.png", :class=>'glasses-img' %>
		</div>
	</div>
</div>

<section class="page-content grey padding">
	<div class="row">
		<div class="medium-6 columns">

			<p>
				Some Image
			</p>

		</div>
		<div class="medium-6 columns">

			<h4>What is YERO?</h4>
			<p>
				Content goes here
			</p>
		</div>
	</div>
</section>

<section class="page-content padding">
	<div class="row">
		<div class="medium-4 columns medium-text-center">
			<p>
				Greet your guests with automated welcome messages.
			</p>
		</div>
		<div class="medium-4 columns medium-text-center">
			<p>
				List your venue with an in-app venue profile.
			</p>
		</div>
		<div class="medium-4 columns medium-text-center">
			<p>
				Engage your crowd in real-time with messaging and drink lotteries.
			</p>
		</div>

	</div>
</section>

<section class="page-content grey padding">
	<div class="row">
		<div class="medium-12 columns medium-text-center">
			<h6>A Command Centre Dashboard For Your Venue</h6>
		</div>
	</div>
	<div class="row">
		<div class="medium-3 medium-offset-2 columns medium-text-center">
			<p>
				Engage your crowd in real-time with messaging and drink lotteries.
			</p>
		</div>
		<div class="medium-3 medium-offset-2 left columns medium-text-center">
			<p>
				Engage your crowd in real-time with messaging and drink lotteries.
			</p>
		</div>
	</div>
</section>

<section class="page-content padding">
	<div class="row">
		<div class="medium-12 columns medium-text-center">
			<h6>(dashboard mockup)</h6>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns medium-text-center">
			<a href="" class="button button-wide button-arr radius">Get in touch</a>
		</div>
	</div>
</section>
