<% body_class "home" %>
<% content_for :title , "Home" %>
<div class="hero medium-text-right">
	<div class="row">
		<div class="medium-7 columns">
			<h2>Next Level Nightlife</h2>
			<h5>
				YERO is the newest and fastest way to experience nightlife.<br>
				See who's partying tonight in your city
				<em>without having to be there.</em>
			</h5>
			<a href="" class="hero-download-link">
				<%= image_tag "appstore.png"%>
			</a>
		</div>
		<div class="medium-3 columns left">
			<%= image_tag "hero-phone.png", :class=>'hero-img' %>
		</div>
	</div>
</div>

<div class="email-signup text-center">
	<div class="row">
		<div class="medium-8 medium-centered columns">
			<h3>
				Hyped? So are we!
			</h3>
			<p>
				YARO is currently in private beta here in beautiful Vancouver. <br>
				Sign up below and we'll notify you when we launch in your city! <br>
				(more requests for your city may force us to come faster)
			</p>
			<div class="form">
				<form action="">
				<div class="medium-5 columns city-input">
					<input type="text" placeholder="Your City">
				</div>
				<div class="medium-5 columns email-input">
					<input type="email" placeholder="Email">
				</div>
				<div class="medium-2 columns">
					<input type="submit" value="Subscribe" class="button small">
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="feature medium-text-left">
	<div class="row">
		<div class="medium-6 medium-offset-6 columns">
			<h3>
				Tonight's Network
			</h3>
			<p>
				YERO turns clubs and lounges into network access points. <br>
				This way, only people verified to be out tonight are displayed.
			</p>
		</div>
	</div>
</div>

<div class="feature medium-text-right">
	<div class="row">
		<div class="medium-6 columns">
			<h3>
				Less Sketchy, less Awkward
			</h3>
			<p>
				GPS-based flirting apps can take weeks to meet up. <br>
				With YERO, you meet people tonight in a nightlife setting. <br>
				Now that awkward first impression isn't so awkward.
			</p>
		</div>
	</div>
</div>

<div class="feature medium-text-left">
	<div class="row">
		<div class="medium-6 medium-offset-6 columns">
			<h3>
				Flirt Faster and Farther
			</h3>
			<p>
				Reach out to someone without having to think twice about approaching them. Send and receive anonymous chat requests with anyone in the same venue or another venue nearby.
			</p>
		</div>
	</div>
</div>

<div class="feature medium-text-right">
	<div class="row">
		<div class="medium-6 columns">
			<h3>
				Time Limited
			</h3>
			<p>
				YERO clears the network each night so that a new night can begin. <br>
				Don't worry - you have 12 hours before it happens.
			</p>
		</div>
	</div>
</div>

<div class="download text-center">
	<div class="row">
		<div class="medium-4 medium-centered columns">
			<a href="">
				<%= image_tag "appstore.png" %>
			</a>
		</div>
	</div>
</div>