<% body_class "privacy" %>
<% content_for :title , "Yero Privacy" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Privacy Policy</h2>
		</div>
	</div>
</header>

<section class="page-content">
	<div class="row">
		<div class="medium-8 medium-offset-1 columns">

			<p>
				Content goes here
			</p>

		</div>
	</div>
</section>