<html>
<head>
<script type="text/javascript">
function delayedRedirect(){
    // window.location = "http://www.yero.co"
    window.location = 'yero://';
    setTimeout("window.location = 'https://itunes.apple.com/us/app/yero/id972272976';", 1000);
}
</script>
</head>
<% if @mobile %>
	<body onLoad="setTimeout('delayedRedirect()', 5000)">
		<div class="welcome-ref">Welcome!</div>
	</body>
<% else %>
	<body>
		<div class="welcome-ref">Welcome!</div>
	</body>
<% end %>
</html>