<%= render "sidebar", current: "dashboard" %>
<div class="content">
  <h1>dashboard</h1>
  <div class="mobile-buttons">
    <a>
      <div><%= image_tag "icons/lotto.png" %></div>
      Drink Lottery         <br/>
      <p>give free drinks</p>
    </a>
    <a>
      <div><%= image_tag "icons/nightly.png" %></div>
      Nightly Counter
      <p>keep track of your customers</p>
    </a>
  </div>
</div>