<% content_for :title, "Yero -  Venues" %>
<%= render "sidebar", current: "venue-profile" %>
<div class="rows">
	<div class="large-12 columns main-content">
		<div class="index-title">Your Venues</div>

		<hr class="top-divider">

		<div class="venue-rows">
			<% @venues.each do |venue| %>
			<div class="venueBody venueShow">
			  	<span class="venue-name">
			  		<%= link_to venue.name, venue %>
				</span>
				<span class="venue-edit-link">
					<i><%= link_to 'Edit', edit_venue_url(venue) %></i>
				</span>
				<% if !venue.default_avatar.nil? %>
					<div class="img">
						<%= link_to image_tag(venue.default_avatar.avatar), venue %>
					</div>
				<% end %>
			</div><hr>
			<% end %>
		</div>
	</div>
</div>
