@import "compass/css3";
@import "foundation/components/grid";
@import "fonts";
@import "colors";

.top-bar {
  border-bottom: 1px solid #ddd;
  z-index: 999;
  position: relative;
  a {
    letter-spacing: 1px;
  }
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

label {
  letter-spacing: 0.1em;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

.button, input[type="submit"] {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.signup {
  margin: 75px auto 50px;
  .form-field {
    label {
      position: absolute;
      right: 100%;
      top: 7px;
      width: 100%;
      text-align: right;
    }
  }
}

.nightly {
  padding: 30px;
}

.night-box  {
  max-width: 450px;
  background-color: white;
  border: 1px solid #ddd;
  @include border-radius(5px);
  @include box-shadow(0 2px 0 #e1e1e1);

  background-size: 500px;
  opacity: 0.8;
  @include transition-property(opacity);
  @include transition-duration(0.6s);
  margin-bottom: 20px;
  &:hover {
    opacity: 1;
  }
  &.create {
    background: url("nightlyback.jpg");
    .inner {
      margin: 5px;
      border: 1px dashed #eee;
      height: 100px;
      text-align: center;
      color: white;
      @include text-shadow(0 0 10px #aaa);
      font-family: "GothamMedium";
      padding-top: 40px;
      font-size: 21px;
      display: block;
    }
    a {

    }
  }
  .inner {
    margin: 15px;
    display: block;
    color: #777;
    position: relative;
    .corner {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.35;
      color: black;
      img {
        height: 20px;
      }
      span {
        @include inline-block;
        margin: 2px 5px 0 1px;
        font-family: GothamMedium;
      }
    }
    h2 {
      margin-bottom: 5px;
      line-height: 1em;
    }
    .date {
      line-height: 1em;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #bbb;
    }
    .detail {
      border-top: 1px dashed #eee;
      padding-top: 15px;
      .val {
        font-size: 60px;
        font-family: "GothamLight";
        &.girl {
          color: $girl;
        }
        &.boy {
          color: $boy;
        }
      }
    }
  }
}

.settings {
  margin: 30px 0 100px 15px;
}

.auth-box {
  max-width: 450px;
  .form-field {
    margin-bottom: 2rem;
    label {
      margin-bottom: 0.6rem;
    }
    input {
      margin-bottom: 0.6rem;
    }
  }
  .operation {
    margin-bottom: 0.3rem;
    .columns .columns {
      @include grid-column($collapse:true);
    }
    .dash {
      text-align: center;
    }
    label, input {
      margin-bottom: .1rem;
    }
    .day {
      font-size: 0.8rem;
      letter-spacing: 0;
    }
    input[type='time'] {
      text-align: center;
    }
  }
  .hours-label {
    p {
      font-size: 0.9rem;
      color: #aaa;
      margin-bottom: 0;
    }
  }
  .submit {
    margin-top: 2rem;
    input {
      width: 100%;
    }
  }
}

#error_explanation {
  border: 1px dashed #eee;
  padding: 1rem;
  margin-bottom: 1rem;

  h2 {
    display: none;
  }
  ul {
    margin-left: 0;
    margin-bottom: 0;
    li {
      color: $error;
      list-style: none;
    }
  }
}

.error-field {
  border: 1px solid $error !important;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left:  0;
  padding-top: 45px;
  background: url("debut_dark.png");
  @include box-shadow(inset -10px 0 10px #333);
  .item {
    position: relative;
    &.active {
      background: rgba(0, 0, 0, 0.2);
      @include text-shadow(0 2px 0 black);
      &:before {
        right: 0;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fafafa;
        border-width: 10px;
        margin-top: -10px;
      }
    }
    a {
      display: block;
      padding: 35px 30px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      font-family: "GothamThin";
    }
  }
}

.content {
  margin-left: 250px;
  h1 {
    position: absolute;
    right: 50px;
    top: 50px;
    color: #f1f1f1;
    font-size: 5rem;
    font-family: "GothamMedium";
    @include text-shadow(0 2px 0 white);
    letter-spacing: 1px;
  }
}

.girl {
  color: $girl;
}

.boy {
  color: $boy;
}

.nightly-wrap {
  padding: 30px;
  margin: 0 auto;
  max-width: 450px;
  .title {
    h1 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .counter {
    h2 {
      position: relative;
      .total {
        position: absolute;
        right: 0;
        opacity: 0.5;
        img {
          height: 1.2rem;
        }
      }
    }
  }
  .set {
    margin-top: 30px;
    h2 {
      margin-bottom: 5px;
      line-height: 1em;
      font-size: 1rem;
      color: #555;
      .status {
        @include inline-block;
        img {
          height: 1.2rem;
          &.hidden {
            display: none;
          }
        }
      }
    }
    .gender {
      text-align: center;
      border: 1px solid #aaa;
      background-color: #f6f6f6;
      margin-top: 10px;
      @include box-shadow(0 2px 0 #aaa);
      @include border-top-left-radius(3px);
      @include border-bottom-left-radius(3px);
      &:last-child {
        border-left: none;
        @include border-top-left-radius(0);
        @include border-bottom-left-radius(0);
        @include border-top-right-radius(3px);
        @include border-bottom-right-radius(3px);
      }
      img {
        margin: 15px 0;
      }
      div {
        text-transform: uppercase;
        margin-top: 20px;
        color: #ddd;
        @include text-shadow(0 2px 0 white);
        font-size: 25px;
        font-family: "GothamMedium";
      }
      p {
        font-family: "GothamBook";
      }
    }
  }
}